#leftLine{
    animation-duration:1.5s;
}
#headTitle{
    animation-duration:1.5s;
}
#rightLine{
    animation-duration:1.5s;
}
#aboutMe:hover{
    animation: rubberBand;
    animation-duration:1s;
}
#TOP:hover{
    animation: rubberBand;
    animation-duration:1s;
}
#homeIcon:hover{
    animation: rubberBand;
    animation-duration:1s;
}
#myTools:hover{
    animation: rubberBand;
    animation-duration:1s;
}
#Resources:hover{
    animation: rubberBand;
    animation-duration:1s;
}
#introTop1{
    animation-duration:2.5s;
}
#introTop2{
    animation-duration:2.5s;
}
#introMainContent{
    animation-duration:2.5s;
}
.credit:hover{
    transform:scale(1.15);
    margin-left:1.75vw;
    margin-top:1.5vw;
    animation-delay:250ms;
}
#sec2popUp:hover{
    padding-bottom:8%;
    padding-left:10%;
    padding-right:10%;
    margin-top:7vw;
    border-top-left-radius:1vw;
    border-top-right-radius:1vw;
}
#benefitsButton:hover{
    padding:10%;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:5vw;
    transform:translateY(-6vw);
}
#balanceButton:hover{
    padding:10%;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:5vw;
    transform:translateY(-6vw);
}
#payButton:hover{
    padding:10%;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:5vw;
    transform:translateY(-6vw);
}
#requirementsButton:hover{
    padding:10%;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:5vw;
    transform:translateY(-6vw);
}
#experienceButton:hover{
    padding:10%;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:5vw;
    transform:translateY(-6vw);
}
#difficultyButton:hover{
    padding:10%;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:5vw;
    transform:translateY(-6vw);
}